/*============
   GENERAL
=============*/
html {
  scroll-behavior: smooth;
  scroll-padding: 6rem 0 0 0;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --bg-normal: #04d6a5;
  --bg-gradient: -moz-linear-gradient(90deg, rgb(4, 214, 165) 0%, rgb(34, 191, 194) 100%); 
  --bg-gradient: -webkit-linear-gradient(90deg, rgba(4,214,165,1) 0%, rgba(34,191,194,1) 100%);
  --bg-gradient: linear-gradient(90deg, rgb(4, 214, 165) 0%, rgba(34,191,194,1) 100%);
  --grey-shadow: #808080;
}



::-webkit-scrollbar {
  width: 0;
  display: none;
}

:focus {
  outline: none;
}


/*======================
   BOTONES
========================*/
.navbar-toggler:focus {
  outline: 1px solid #ffffff4d;
}

.btn {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: #fff;
	margin: 10px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: var(--bg-normal);
	overflow: hidden;
	position: relative;
}

.btn i {
	line-height: 50px;
	font-size: 1.6em;
	transition: 0.2s linear;
}

.btn:hover i, 
.btn:focus i {
	transform: scale(1.3);
	color: white;
}

.btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

.btn:hover::before, 
.btn:focus::before {
	animation: efectoBoton 0.7s 1;
	top: -10%;
	left: -10%;
}

/*============
   TIPOGRAFIA
=============*/
.btn::before,
.navbar,
.pos-f-t,
footer {
	background: var(--bg-normal);
  background: var(--bg-gradient);
}

.titulo-pagina,
.titulo-autor,
.titulo-seccion,
.seccion-actual,
.secciones a, 
.seccion-actual,
.desc-pagina { 
  font-family: 'Lobster', serif;
}

p, li {
  font-family: 'Spectral', sans-serif;
  font-size: clamp(1.15rem,4.5vw,1.2rem);
}

.desc-pagina,
.secciones a, 
.seccion-actual {
  text-shadow:  2px 2px var(--grey-shadow);
}

.desc-pagina {
  font-size: 1.2rem;
}

.secciones a, 
.seccion-actual {
  text-decoration: none;
  color: #fff;
}

.seccion-actual {
  font-size: 2.3em;
  font-weight: 500;
  text-shadow: 3px 3px var(--grey-shadow);
}

.secciones a:hover, 
.secciones a:focus {
  transition: .15s;
  border-bottom: 2px solid #fff;
  box-shadow: 0px 8px 0px -6px var(--grey-shadow);
}

.titulo-autor {  /* en nav*/
  color: black;
  font-size: 4rem;
  text-shadow:  3px 3px var(--grey-shadow);
  color: #fff;
}

.titulo-pagina {
  text-shadow: 3px 3px var(--bg-normal);
  font-size: clamp(4rem, 10vw, 7rem);
  border-bottom: 4px solid #000;
  box-shadow: 0px 8px 0px -5px #14C299;
  font-weight: 600;
  margin-bottom: 4rem;
}

.titulo-seccion {
  text-shadow: 2px 2px var(--bg-normal);
  margin: 3.5rem 0 1.5rem 0;
  font-weight: 500;
}

#quote {
  max-width: 60ch;
  font-family: Redressed;
  font-size: 1.4rem;
}

.fas {
  transform: scale(.8);
}
.fa-bars {
  transform: scale(1.2);
  margin: 5px;
}

footer p {
  color: #fff;
  font-size: 1.35rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  text-shadow: 3px 3px var(--grey-shadow);
}


/*============
   EFECTOS
=============*/
@keyframes mover {
  0%{
    transform: translate(-15%);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes efectoBoton {
	0%{
		left: -110%;
		top: 90%;
	} 
	50% {
		left: 10%;
		top:-30%;
	} 
	100% {
		left:-10%;
		top: -10%;
	}
}

/*============
   LAYOUT
=============*/
.container {
	max-width: 1000px;
}
.navbar{  /* el desplegable */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.pos-f-t { /* el siempre visible */
  position: fixed;
  top: 62px;
  right: 0;
  left: 0;
  z-index: 1;
}

#scroll {
  position: fixed;
  left: 0;
  z-index: 1;
  margin: 0;
  height: 6px;
  background: rgb(9, 159, 161);
  background: linear-gradient(330deg, rgb(9, 159, 161,1) 30%, rgba(34,191,194,1) 100%);
}

.social {
	margin: .5rem 0;
	text-align: center;
}
.social a {
	margin: 1rem 1.5rem;
}

.img-portada {
  position: fixed;
  object-fit: cover;
  object-position: 0%;
  z-index: -1;
  left: 0;
  top: 61px;
  height: 100vh;
  width: 100vw;
}

.img {
  box-shadow: 0 5px 15px -5px #00000070;
  border-radius: 2%;
  margin-bottom: 1rem;
  opacity: 0;
}

.imagen-libro {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 0;
}

.imagen-escritora {
  margin-bottom: .6rem;
  opacity: 0;
}

.container {
  padding-top: 35px;
  margin-top: 60vh;
}
.bloque-contenido {
  margin-bottom: 5rem;
}
.bloque-contenido:last-child {
  margin-bottom: 6rem;
}

footer {
  margin: 0;
  padding: 15px;
  width: 100%;
}

/* MEDIAS */


@media (min-height:600px) {
  .container {
    margin-top: 70vh;
  }
}
@media (min-height:700px) {
  .container {
    margin-top: 80vh;
  }
}


@media (min-width:800px) {
  .pos-f-t {
    padding-left: 90px;
  }
  p, li {
    font-size: 1.3rem;
  }
  .titulo-autor {  /* en nav*/
    font-size: 5.5rem;
  }
  h1.titulo-seccion {
	  font-weight: 600;
    font-size: 3rem;
  }
  .desc-pagina,
  .secciones a {
    font-size: 1.5rem;
  }
  .imagen-libro {
    max-width: 300px;
  }
  #quote {
    font-size: 1.5rem;
  }
}

@media (min-width:900px) {
  .secciones {
    display: flex;
    justify-content: space-between;
    padding-right: 30%;
  }
}

@media (min-width:1400px) {
  .secciones {
    padding-right: 40%;
  }
}
